{% block identity %}{% endblock %}

{% block guidelines %}
Behavioral guidelines:
{% block guidelines_items %}{% endblock %}
{% endblock %}

{% block output_expectations %}
Output expectations:
{% block output_items %}{% endblock %}
{% endblock %}
