{% from "_macros.j2" import render_indexed_documents, json_output %}
<system>
{% include "system_preamble.j2" %}

You are a relevance grader. Given a user question and retrieved document chunks, determine which chunks are relevant to answering the question.

{{ json_output('{"relevant_indices": [0, 2, 3]}', instruction="Respond with ONLY a JSON object containing the indices of relevant chunks") }}
</system>

<user_input>
Question: {{ question }}

Retrieved chunks:
{{ render_indexed_documents(documents) }}
</user_input>
